<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div class="tao-grid-footer-column tao-grid-top-left">
          <a class="footer__logo" href="https://avatao.com/">
            <div class="footer__logo--container">
            {% include avatao_logo_white.svg %}
           </div>
          </a>
        <div class="tao-grid-footer-header">Hungary</div>
        <div class="bottom--space">1136 Budapest | Pannónia utca 32</div>
        <div class="tao-grid-footer-header">United States</div>
        <div class="bottom--space">San Francisco | 1501 Mariposa St | Suite 408 | CA 94107</div>
      </div>
      <div class="tao-grid-footer-column tao-grid-footer-header tao-grid-top-left">
          <div class="bottom--space">Product</div>
          <a href="https://avatao.com/#our-clients">Our clients</a>
          <a href="https://avatao.com/#what-we-do">What we do</a>
          <a href="https://avatao.com/#how-we-help">How we help</a>
          <a href="https://blog.avatao.com/">Blog</a>
          <!--</li>-->
        </div>
        <div class="tao-grid-footer-column tao-grid-footer-header tao-grid-top-left">
            <div class="bottom--space">Company</div>
            <a href="https://avatao.com/about" target="_blank">About</a>
            <a href="https://avatao.com/company#openings" target="_blank">Careers</a>
            <!--<a routerLink="/" fragment="Events" taoScrollToAnchor>Events</a>
            <a routerLink="/" fragment="AboutUs" taoScrollToAnchor>About us</a>-->
          </div>
          <div class="tao-grid-footer-column tao-grid-footer-header tao-grid-top-left">
              <div class="bottom--space">Support</div>
              <a href="https://avatao.com/contact" target="_blank">Contact</a>
              <a href="https://platform.avatao.com/terms" target="_blank">Terms of Service & Privacy Policy</a>
              <a href="https://avatao.com/#refund-modal" target="_blank">Refund policy</a>
            </div>
    <div class="tao-grid-footer-column tao-grid-footer-header tao-grid-top-left">
        <div class="bottom--space">Follow us</div>
        <div>
          <a href="https://twitter.com/theavatao" target="_blank"><img src="/_includes/twitter_white.svg"></a>
          <a href="https://www.linkedin.com/company/avatao" target="_blank"><img src="/_includes/linkedin_white.svg"></a>
          <a href="https://www.facebook.com/theavatao/" target="_blank"><img src="/_includes/facebook_white.svg"></a>
        </div>
      </div>
  </div>
    <span class="tao-footer-company-text"> Made with ❤ by Avatao 2019</span>
  </div>
</footer>
<script async src="{{ "/assets/js/bundle.js" | relative_url }}"></script>
{% if site.service_worker %}
<script async>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}').then(function( registration ) {
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    })
    .catch(function(error) {
      console.log('ServiceWorker registration failed: ', error);
    });
  }
</script>
{% endif %}
