<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div class="tao-grid-footer-logo">
        {% include avatao_logo_white.svg %}
      </div>
      <div class="tao-grid-footer-column tao-grid-footer-header tao-grid-top-left">
          <div>Get to know</div>
    
          <a href="https://avatao.com/#Benefits">Your benefits</a>
          <a href="https://avatao.com/#Solutions">Solutions</a>
          <a href="https://avatao.com/#WhyUs">Why us?</a>
          <a href="https://avatao.com/#Impact">Impact</a>
          <a href="mailto:contact@avatao.com?Subject=Schedule a demo" target="_top">Contact us</a>
          <!--</li>-->
        </div>
        <div class="tao-grid-footer-column tao-grid-footer-header tao-grid-top-left">
            <div>Company</div>
            <a href="https://blog.avatao.com/" target="_blank">Blog</a>
            <!--<a routerLink="/" fragment="Events" taoScrollToAnchor>Events</a>
            <a routerLink="/" fragment="AboutUs" taoScrollToAnchor>About us</a>-->
          </div>
          <div class="tao-grid-footer-column tao-grid-footer-header tao-grid-top-left">
              <div>Social</div>
              <a href="https://twitter.com/theavatao" target="_blank">Twitter</a>
              <a href="https://www.linkedin.com/company/avatao" target="_blank">LinkendIn</a>
              <a href="https://www.facebook.com/theavatao/" target="_blank">Facebook</a>
            </div>
    <div class="tao-grid-footer-column tao-grid-footer-header tao-grid-top-left">
        <div>Legal</div>
              <a href="https://avatao.com" target="_blank">Terms and conditions</a>
              <a href="https://avatao.com" target="_blank">Refund policy</a>
      </div>
  </div>
    <span class="tao-footer-company-text">&copy; Avatao.com Innovative Learning Ltd.</span>
  </div>
</footer>
<script async src="{{ "/assets/js/bundle.js" | relative_url }}"></script>
{% if site.service_worker %}
<script async>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}').then(function( registration ) {
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    })
    .catch(function(error) {
      console.log('ServiceWorker registration failed: ', error);
    });
  }
</script>
{% endif %}