<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">

          <div class="grid__navbar header__inner">
              <a class="header__logo tao-grid-center-center" href="https://blog.avatao.com/">
                <div class="header__logo--container">
                {% include avatao_blog_logo.svg %}
               </div>
              </a>
              <nav class="tao-grid-center-center header__links">
                  <div class="container header__links-wrapper">
                    {% for item in site.navigation %}
                      <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
                        <span itemprop="name">{{ item.name }}</span>
                      </a>
                    {% endfor %}
                  </div>
                  <div class="header__hide container header__links-wrapper tao-grid-center-center">
                    <a class="header__link" href="https://platform.avatao.com/log-in" itemprop="url" style="font-weight: 700">
                      <span>Log in</span>
                    </a>
                </div>
                </nav>
              <nav class="header__hide__responsive header__links left-space">
                <div class="container header__links-wrapper tao-grid-center-center">
                  <a class="header__link" href="https://platform.avatao.com/log-in" itemprop="url" style="font-weight: 700">
                    <span>Log in</span>
                  </a>
                </div>
              </nav>
              <div class="header__toggle tao-grid-center-right">
                <span></span>
                <span></span>
                <span></span>
              </div>
          </div>      
  </div>
</header>
