footer {
  padding: 85px 48px 180px;
  background-color: #f3f6f9;
  text-align: center;
  font-size: 0.875rem;
  color: #414a56;

  a {
    &:hover,
    &:focus {
      text-decoration: underline !important;
    }
  }
}

.footer-grid {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  grid-column-gap: 50px;

  @media only screen and (max-width: 991px) {
    display: block;
    margin-bottom: -70px;
  }
}

.tao-grid-footer-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: start;
  justify-items: left;
  justify-content: left;
  width: 80%;
  white-space: nowrap;
  padding-bottom: 5px;
  color: #414a56;

  & a {
    font-weight: 100;
    padding-bottom: 5px;
    color: #414a56;
  }
}

.bottom--space {
  margin-bottom: 10px;
}

.tao-grid-footer-header {
  font-weight: 900;
  color: #414a56;
  margin-bottom: 10px;
}

.footer__logo {
  display: flex;
  height: 100%;
  overflow: hidden;
  padding: 19px 0;
  outline: 0;
  border-bottom: 0;
  color: $heading-color;

  &:hover {
    color: $heading-color;
    border-bottom: 0;
  }

  .footer__logo--container {
    width: 130px;
    margin-bottom: -10px;

    .logo {
      fill: currentColor;
    }
  }
}

.tao-footer-company-text {
  color: #414a56;
  text-align: center;
  width: 100%;
  position: relative;
  top: 125px;

}

.tao-grid-center-center {
  justify-self: center;
  align-self: center;
}

.tao-grid-center-right {
  justify-self: right;
  align-self: center;
}

.tao-grid-center-left {
  justify-self: left;
  align-self: center;
}

.tao-grid-start-center {
  justify-self: center;
  align-self: start;
}

.tao-grid-end-center {
  justify-self: center;
  align-self: end;
}

.tao-grid-top-right {
  justify-self: right;
  align-self: start;
}

.tao-grid-top-left {
  justify-self: left;
  align-self: start;
}

.tao-grid-bottom-left {
  justify-self: left;
  align-self: end;
}

.tao-grid-bottom-right {
  justify-self: right;
  align-self: end;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin: 0 auto 25px;
}

.social__link:not(:last-child) {
  margin-right: 1.5rem;
}

.social__icon {
  fill: currentColor;
  height: 1.5rem;
  width: 1.5rem;
}
