footer {
  padding: 48px 48px 160px;
  border-top: 1px solid #f0f0f0;
  background-color: #000E1F;
  text-align: center;
  font-size: 0.875rem;
  color: $tao-gray-300;

  a {
    &:hover,
    &:focus {
      text-decoration: underline !important;
    }
  }
}

.footer-grid {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  grid-column-gap: 50px;

  @media only screen and (max-width: 991px) {
    display: block;
    margin-bottom: -70px;
  }
}

.tao-grid-footer-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: start;
  justify-items: left;
  justify-content: left;
  width: 80%;
  white-space: nowrap;

  & a {
    color: $tao-gray-300 !important;
    font-weight: 100;
  }
}

.tao-grid-footer-header {
  font-weight: 500;
  color: $tao-gray-100;
  padding-bottom: 24px;
}

.tao-grid-footer-logo {
  height: 15px;
  position: relative;
  top: 5px;
  max-width: 100px;
  margin-bottom: 20px;
}

.tao-footer-company-text {
  color: $tao-gray-300;
  text-align: center;
  width: 100%;
  position: relative;
  top: 145px;

}

.tao-grid-center-center {
  justify-self: center;
  align-self: center;
}

.tao-grid-center-right {
  justify-self: right;
  align-self: center;
}

.tao-grid-center-left {
  justify-self: left;
  align-self: center;
}

.tao-grid-start-center {
  justify-self: center;
  align-self: start;
}

.tao-grid-end-center {
  justify-self: center;
  align-self: end;
}

.tao-grid-top-right {
  justify-self: right;
  align-self: start;
}

.tao-grid-top-left {
  justify-self: left;
  align-self: start;
}

.tao-grid-bottom-left {
  justify-self: left;
  align-self: end;
}

.tao-grid-bottom-right {
  justify-self: right;
  align-self: end;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin: 0 auto 25px;
}

.social__link:not(:last-child) {
  margin-right: 1.5rem;
}

.social__icon {
  fill: currentColor;
  height: 1.5rem;
  width: 1.5rem;
}
